body {
background-color: #232222;
color: white;
}

.sol {
    float:left;
}

.yukari {
    margin-top: -158px;
}

.sag {
    float:right;
}

.butoncuk {
    background-color: #4CAF50;
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 8px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:8px;
  }

  .butoncuk:hover{
    color: white;
    border-radius: 50px;
    text-decoration:none;
  }


.site-logo {
    width: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
}

.nav-link {
    cursor: default;
}

nav > div > ul:nth-child(1){
    margin-left: 0.5rem;
}

.arama-yeri {
     width: 5rem !important;
     transition: .5s ease;
}

.arama-yeri:focus {
    width: 13rem !important;
}

   .ana-kutu {
      width: 98.5%;
      padding:300px;
      border:3px solid #32353C;
      margin:10px;
      background-color: #32353C;
   }